h1{ 
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size: 30px;
    color: grey
}
header { 
    background-image: url(kyoto\ header.jpg);
    padding: 20px;
}
body {
    background-color: rgb(208, 239, 239);
}
p1 { 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: grey
}
li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: grey
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey
}